/* Personal Website
● AUTHOR: Marina Amorim Ananias
● DATE: March, 2024
● ACKNOWLEDGEMENTS/CODE INSPIRATION: 
    Loading sound wave: https://codepen.io/yomateo/pen/ypbNrJ
    Carousel: https://flickity.metafizzy.co/
    Carousel Customization: https://codepen.io/desandro/pen/XJYPrm
    Scrow down reveal animation: https://codepen.io/alvarotrigo/pen/PoKamZy 
    Some colored icons: https://icons8.com/icon/40670/c-programming
    Navigation Bar Big Screens: https://codepen.io/sorinbotirla/pen/QyoYgx */


/* 1300px width */
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base font size */
html {
    font-size: 16px;
}

/* Global styles */
body {
    font-family: "Lato", Helvetica, sans-serif;
    background-color: #fff7f4;
    color: #332e2e;
}

/* +--------+---------------------------------------------------------
// | NavBar |
// +--------+ */

nav {
    width: 18.75rem; /* Converted from 300px */
    background: #ff055873;
    -webkit-clip-path: circle(1.5rem at 1.875rem 1.5rem); /* Converted from 24px at 30px 24px */
    clip-path: circle(1.5rem at 2rem 1.5rem); /* Converted from 24px at 32px 24px */
    -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
    transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
    position: fixed;
    top: 1.875rem; /* Converted from 30px */
    left: 3.125rem; /* Converted from 50px */
    font-family: "Lato", Helvetica, monospace;  
    font-size: 1.25rem; /* Converted from 20px */
    z-index: 1000;
}

nav:hover {
    background: #ffffff;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.75s;
    transition-duration: 0.75s;
    -webkit-clip-path: circle(24.375rem at 14.0625rem 1.5rem); /* Converted from 390px at 225px 24px */
    clip-path: circle(24.375rem at 9.375rem 1.5rem); /* Converted from 390px at 150px 24px */
}

li {
    list-style: none;
}

#nav {
    display: block;
    line-height: 3.125rem; /* Converted from 50px */
    padding: 0 1.25rem; /* Converted from 0 20px */
    color: inherit;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
}

#nav:hover { background: #0096bc7b; }

#nav:active { background: #0097BC; }

.navicon {
    padding: 1.4375rem 1.375rem; /* Converted from 23px 22px */
    cursor: pointer;
    -webkit-transform-origin: 2rem 1.5rem; /* Converted from 32px 24px */
    -ms-transform-origin: 2rem 1.5rem; /* Converted from 32px 24px */
    transform-origin: 2rem 1.5rem; /* Converted from 32px 24px */
}

.navicon div {
    position: relative;
    width: 1.25rem; /* Converted from 20px */
    height: 0.125rem; /* Converted from 2px */
    background: #fff7f4;
}

.navicon div:before,
.navicon div:after {
    display: block;
    content: "";
    width: 1.25rem; /* Converted from 20px */
    height: 0.125rem; /* Converted from 2px */
    background: #fff7f4;
    position: absolute;
}

.navicon div:before { top: -0.4375rem; /* Converted from -7px */ }

.navicon div:after { top: 0.4375rem; /* Converted from 7px */ }
  
/* +---------+--------------------------------------------------------
// | Landing |
// +---------+ */
.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.sound-waves {
    height: 4.375rem; /* Converted from 70px */
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 9.375rem; /* Converted from 150px */
}

.sound-waves .bar {
    display: flex;
    position: relative;
    background-color: #ff0558;
    height: 100%;
    width: 0.625rem; /* Converted from 10px */
    border-radius: 3.125rem; /* Converted from 50px */
    margin: 0 0.3125rem; /* Converted from 0 5px */
    animation: waves 1.2s linear infinite;
}

@keyframes waves {
    0% {
        transform: scaleY(0);
    }

    50% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0);
    }
}

.sound-waves .bar:nth-child(1) {
    animation-delay: 0s;
}

.sound-waves .bar:nth-child(2) {
    animation-delay: 0.3s;
}

.sound-waves .bar:nth-child(3) {
    animation-delay: 0.6s;
}

.sound-waves .bar:nth-child(4) {
    animation-delay: 0.9s;
}

.sound-waves .bar:nth-child(5) {
    animation-delay: 0.6s;
}

.sound-waves .bar:nth-child(6) {
    animation-delay: 0.3s;
}

.sound-waves .bar:nth-child(7) {
    animation-delay: 0s;
}

.sound-waves .bar:hover {
    background: #0097BC;
}

/* +----------+-------------------------------------------------------
// | About Me |
// +----------+ */
.about-me {
    text-align: left;
    margin: 2.5% 0;
    width: 100%;
    height: auto;
    padding: 0 15%;
}

/* Photo + (Text + Button) */
.about-me-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}

/* Photo */
.profile {
    max-height: 27rem;
    border-radius: 10px;
    margin: 1% 0 7% 0;
}

/* Text + Button*/
.box-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin: 3% 0 0 4%;
    max-width: 100%;
}

/* Text */
.about-me-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65%;
    width: auto;
    border-radius: 5%;
    margin: 0 0 10% 4%; /* trbl*/
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #ff0558;
    background: linear-gradient(to bottom right, #553ed6, #553ed6c5);
    background-image: linear-gradient(to bottom, transparent 20%, currentColor 21%);

    background-position: 0 1em;
    background-repeat: no-repeat;
    background-size: 0% 6px;

    transition: background-size 0.5s ease-in-out 0.2s;
}

.about-me-button {
    display: flex;
    justify-content: center;
    padding: 1.5% 7%;
    width: 95%;
    background: linear-gradient(to bottom right, #553ed6, #553ed6c5);
    border: 0;
    border-radius: 10px;
    line-height: 150%;
    color: #FFFFFF;
    cursor: pointer;
    outline: transparent;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    font-size: 1.25rem;
}

.about-me-button:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.about-me-button:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem #ff05588f, .125rem .125rem 1rem #ff05588f;
}

/* +-------------------------+----------------------------------------
// | Coding AND Making Music |
// +-------------------------+ */
.subpage {
    text-align: left;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0 15%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
}

#img-car-coding {
    height: 12rem;
    max-width: 100%;
}

#git-icon-car {
    color: #fef7f3; 
    margin: 0 1.25rem;
}

#img-car-music1 {
    height: 13.75rem;
    max-width: 100%;
}

#img-car-music2 {
    height: 8.75rem;
    max-width: 100%;
}

/* +--------+---------------------------------------------------------
// | Skills |
// +--------+ */

.skills_icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    color: #ff0558;
}

.skills_icons--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0.9375rem 1.875rem; /* 15px 30px*/
}

.skills_icons--text img {
    width: 3.2rem;
    margin-bottom: 0.5rem;
}

.skills_icons--text i {
    margin-bottom: 0.7rem;
}

/* +----------+-------------------------------------------------------
// | Carousel |
// +----------+ */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.gallery {
    background: #fff7f4;
    margin: 2% 0 8% 0; /* trbl */
}

.gallery-cell {
    width: 66%;
    height: 15.625rem; /* 250px */
    background: white;
    align-items: center;
    margin-right: 0.625rem; /* 10px */
    padding: 3% 3% 0 3%;
}

.gallery-cell.coding {
    background: #0096bc69;
}

.gallery-cell.music {
    background: #c0d73e8f;
}

.cell-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 90%;
    width: auto;
}

.cell-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0 0 5%; /* trbl */
}

.git-car {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 0.7rem;
}

.git-car i {
    font-size: 2.5vw;
}

.flickity-prev-next-button {
    width: 6.25rem; /* 100px */
    height: 6.25rem; /* 100px */
    background: transparent;
  }

  /* arrow color */
  .g-coding .flickity-prev-next-button .arrow {
    fill: #0096bc69;
  }
  .g-music .flickity-prev-next-button .arrow {
    fill: #BFD73E;
  }
  .flickity-prev-next-button.no-svg {
    color: white;
  }
  .flickity-prev-next-button:hover {
    background: transparent;
  }

  /* hide disabled button */
  .flickity-prev-next-button:disabled {
    display: none;
  }
  
  /* position dots in gallery */
  .flickity-page-dots {
    top: 17rem;
  }
  
  /* white circles */
  .flickity-page-dots .dot {
    width: 0.9375rem; /* 15px */
    height: 0.9375rem; /* 15px */
    opacity: 1;
    background: transparent;
    border: 0.125rem solid white; /* 2px */
  }

  .g-coding .flickity-page-dots .dot {
    border: 0.125rem solid #0096bc69; /* 2px */
    width: 0.9375rem; /* 15px */
    height: 0.9375rem; /* 15px */
  }

  .g-music .flickity-page-dots .dot {
    border: 0.125rem solid #BFD73E; /* 2px */
    width: 0.9375rem; /* 15px */
    height: 0.9375rem; /* 15px */
  }

  /* fill-in selected dot */
  .g-coding .flickity-page-dots .dot.is-selected {
    background: #0096bc69;
    width: 0.9375rem; /* 15px */
    height: 0.9375rem; /* 15px */
  }  
  .g-music .flickity-page-dots .dot.is-selected {
    background: #BFD73E;
    width: 0.9375rem; /* 15px */
    height: 0.9375rem; /* 15px */
  }  

/* +------------+-----------------------------------------------------
// | Contact Me |
// +------------+ */
.subpage.contact {
    margin-bottom: 2%;
    max-width: 100%;
}

.contact-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 100%;
    height: auto;
}

.signature-logo {
    max-width: 45%;
    opacity: 0.3;
    transform: rotate(-7deg);
    margin-right: 5%;
}

.contact-subcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 100%;
}

.contact-mail {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10%;
    max-width: 100%;
}

.contact-mail i {
    margin-right: 0.7rem; 
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
    max-width: 100%;
}

.social-icons--each {
    color: #ff0558;
    margin: 0 24%; 
}

#soc-icon:hover {
    color: #553ed6;    
}

footer {
    background-color: #ff0558;
    text-align: center;
    padding: 1% 0;
    width: 100%;
}

/* +------+-----------------------------------------------------------
// | Text |
// +------+ */

h1 {
    font-size: 6.875rem; /* Converted from 110px */
    color: #332e2e;
    margin-top: 8.75rem; /* Converted from 140px */
}

h2 {
    font-size: 3.75rem; /* Converted from 60px */
    color: #332e2e;
    padding: 2.5rem 0 3.75rem 0; /* Converted from 40px 0 60px 0 */
}

h3 {
    font-size: 1.875rem; /* Converted from 30px */
    color: #332e2e;
}

h4 {
    font-size: 3.125rem; /* Converted from 50px */
    padding-bottom: 5%;
}

h5 {
    font-size: 2.5rem; /* Converted from 40px */
    color: #332e2e;
    padding: 0 0 1.5625rem 0; /* Converted from 0 0 25px 0 */
}

h6 {
    font-size: 1.75rem; /* Converted from 28px */
    color: #fff7f4;
    margin-bottom: 15%; 
}

p, span {
    font-size: 1.25rem; /* Converted from 20px */
    color: #332e2e;
}

.subp-text {
    text-decoration-line: underline;
    text-underline-offset: 0.75rem; /* Converted from 12px */
    text-decoration-thickness: 0.3125rem; /* Converted from 5px */
    text-decoration-color: #ff0558;
}

.subp-text.about {
    color: #553ed6;
}

.subp-text.coding {
    color: #0097BC;
}

.subp-text.music {
    color: #BFD73E;
}

.subp-text.contact {
    color: #553ed6;
    position: relative;
    z-index: 2;
}

.copyright-text {
    color: #fff7f4;
    font-size: 1.1875rem; /* Converted from 19px */
}

/* +----------------+-------------------------------------------------
// | Page Animation |
// +----------------+ */

.reveal {
    position: relative;
    transform: translateY(9.375rem);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

/* +-------------------+----------------------------------------------
// | Making Responsive |
// +-------------------+ */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* +--------+-------------------------
    // | NavBar |
    // +--------+ */
    nav {
        display: none;
    }

    /* +------+---------------------------
    // | Text |
    // +------+ */
    /* Base font size */
    html {
        font-size: 8px;
    }

    h6 {
        margin-bottom: 0%; 
    }
    /* +----------+-----------------------
    // | About Me |
    // +----------+ */    
    /* Photo + (Text + Button) */
    .about-me-content {
        flex-direction: column;
    }

    /* Photo */
    .profile {
        max-height: 22rem;
        max-width: 70%;
        margin: 0;
        align-self: left;
    }

    /* Text + Button*/
    .box-button {
        align-items: center;
        margin: 3% 0 0 4%;
        max-width: 100%;
    }
    
    /* +----------+-----------------------
    // | Carousel |
    // +----------+ */
    .cell-content {
        flex-direction: column;
    }

    #img-car-coding {
        margin-bottom: 0.5rem;
    }

    .flickity-prev-next-button {
       display: none;
    }

    /* position dots in gallery */
    .flickity-page-dots {
        top: 38vw;
    }
        
    /* +--------+-------------------------
    // | Skills |
    // +--------+ */
    .skills {
        margin-top: 2rem;
    }
    .skills_icons--text i {
        font-size: 7vw;
    }

    /* +------------+---------------------
    // | Contact Me |
    // +------------+ */    
    .contact-text{
        margin-top: 1rem;
    }

    .contact-mail i {
        font-size: 7vw;
    }

    .signature-logo {
        position: fixed;
    }

    .social-icons--each i {
        font-size: 7vw; /* Adjust the font size based on viewport width */
    }
    
    /* +----------------+-----------------
    // | Page Animation |
    // +----------------+ */    
    .reveal {
        /* Override the properties inside the media query to disable the reveal effect */
        transform: none;
        opacity: 1; /* Set opacity to 1 to make the element always visible */
        transition: none; /* Remove transition to prevent any animation */
    }

    .reveal.active {
        /* Override the properties inside the media query to disable the reveal effect */
        transform: none;
        opacity: 1; /* Set opacity to 1 to make the element always visible */
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/* Landscape */
@media only screen and (orientation: landscape) {

}