.subContainer {
  background-color: #eae8eb;
}

.txt {
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.button {
  background-color: #ec297a;
  border-radius: 1rem;
  color: #fff7f4;
  cursor: pointer;
  display: inline-block;
  width: 50%;
  height: fit-content;
  line-height: 0.8rem;
  margin: 0;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  filter: drop-shadow(0.5rem 0.5rem #f1c061);
}

.button:hover,
.button:focus {
  transform: scale(1.1);
}

.titlePhoto {
  display: grid;
  text-align: left;
  align-items: end;
  width: 100vw;
  margin: 4rem 0 0 0;
  padding-left: 1rem;
  justify-content: right;
  @media (min-width: 500px) {
    justify-content: center;
  }
}

.titleBox {
  color: #ec297b;
  opacity: 0.4;
  grid-row: 1;
  grid-column: 1;
  margin: 0;
}

.title1 {
  font-size: 8rem;
}

.title1 * {
  margin-top: 1rem;
}

.title2 {
  font-size: 8rem;
}

.title2 * {
  margin-bottom: 5rem;
}

.photo {
  height: auto;
  max-height: 100%;
  width: auto;
  grid-row: 1;
  grid-column: 2;
}

/* 320px: foto pequena de mais */
