.subContainer {
  background-color: #039490;
}

.title {
  font-size: 7rem;
  color: #fff7f4;
  margin-top: 7rem;
  margin-bottom: 5rem;
}

.codeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
