.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0rem 4rem;
}

.header {
  margin: 0;
  padding: 0;
}

.ft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 125%;
  min-height: fit-content;
  background-color: #ff0558;
  color: #fff7f4;
  margin: 0.5rem 0 0 -4rem;
}

/* Extra small devices (phones, less than 768px) */
/* .container > * {
  min-height: 50vh;
} */

/* Small devices (tablets, 768px and up) */
/* @media (min-width: 768px) { 
  .container > * {
    min-height: auto;
  }
} */

/* Medium devices (desktops, 992px and up) */
/* @media (min-width: 992px) {
  .container > * {
    min-height: auto;
  }
} */

/* Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
  .container > * {
    min-height: auto;
  }
} */
