.subContainer {
  background-color: #eae8eb;
}

.titleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: 14rem;
  border-bottom-left-radius: 30rem;
  border-bottom-right-radius: 30rem;
  background-color: #ec297b;
  filter: drop-shadow(1rem 0rem #f1c061);
}

.title1 {
  color: #f1c061;
  font-size: 2.5rem;
  margin: 1rem 0;
}

.title2 {
  font-size: 5rem;
  font-weight: 700;
  color: #eae8eb;
  margin: 4rem 0;
}
